spring:
  profiles:
    active:
      - dev
---
server:
  port: 8001 
spring:
  profiles: dev
  application: 
    name: microservicecloud-config-dept-client            #application 名称
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: org.gjt.mm.mysql.Driver #mysql驱动包
    url: jdbc:mysql://localhost:3306/cloudDB01 #数据库名称
    username: root
    password: 123456
    dbcp2:
      min-idle: 5 #数据库连接池的最小维持连接数
      initial-size: 5 #初始化连接数
      max-wait-millis: 200 #等待连接获取的最大超时时间      
eureka:
  client:
    service-url:
      defaultZone: http://eureka7001.com:7001/eureka,http://eureka7002.com:7002/eureka,http://eureka7003.com:7003/eureka    #服务端地址
  instance:
    instance-id: microservicecloud-dept8001        #修改状态名称
    prefer-ip-address: true                        #点击信息显示本机ip地址  
mybatis:
  config-location: classpath:mybatis/mybatis.cfg.xml
  type-aliases-package: com.atguigu.springcloud.entities
  mapper-locations:
    - classpath:mybatis/mapper/**/*.xml 
info:
  app.name: microservicecloud-dept
  company.name: www.ylj.com
  build.artifactId: $project.artifactId$
  build.version: $project.version$
---
server:
  port: 8001 
spring:
  profiles: test
  application: 
    name: microservicecloud-config-dept-client            #application 名称
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: org.gjt.mm.mysql.Driver #mysql驱动包
    url: jdbc:mysql://localhost:3306/cloudDB02 #数据库名称
    username: root
    password: 123456
    dbcp2:
      min-idle: 5 #数据库连接池的最小维持连接数
      initial-size: 5 #初始化连接数
      max-wait-millis: 200 #等待连接获取的最大超时时间      
eureka:
  client:
    service-url:
      defaultZone: http://eureka7001.com:7001/eureka,http://eureka7002.com:7002/eureka,http://eureka7003.com:7003/eureka    #服务端地址
  instance:
    instance-id: microservicecloud-dept8001        #修改状态名称
    prefer-ip-address: true                        #点击信息显示本机ip地址  
mybatis:
  config-location: classpath:mybatis/mybatis.cfg.xml
  type-aliases-package: com.atguigu.springcloud.entities
  mapper-locations:
    - classpath:mybatis/mapper/**/*.xml 
info:
  app.name: microservicecloud-dept
  company.name: www.ylj.com
  build.artifactId: $project.artifactId$
  build.version: $project.version$
